<main
  #mainIntroStructure
  class="absolute inset-0 grid min-h-screen w-full grid-cols-1 bg-transparent xl:grid-cols-3 overflow-hidden"
>
  <!-- Story Line -->
  <div
    #storylineSvg
    class="pointer-events-none absolute z-1 hidden h-full w-full items-center justify-center opacity-0 xl:flex"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      width="2200"
      height="625.772"
      class="absolute bottom-[-5%] left-0 overflow-visible opacity-10 xl:scale-[80%]"
    >
      <path
        #storylinePath
        fill="none"
        stroke-miterlimit="10"
        stroke-width="60"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-accent-red"
        d="M4.387 210.328s-67.309 321.097 601.97 394.288 956.294-84.996 496.562-197.144S615.248 190.26 799.395 91.097s324.024-135.272 447.348-1.082"
      />
    </svg>
  </div>

  <!-- ================= LEFT ================= -->

  <section
    #leftColumn
    class="relative flex items-end justify-center overflow-hidden bg-white p-6 text-white md:items-center"
  >
    <div
      class="pointer-events-none absolute top-1/2 left-1/2 hidden h-px w-full -translate-x-1/2 -translate-y-1/2 bg-neutral-300 xl:block"
    ></div>

    <h2
      class="z-20 mt-10 font-OpenSans text-5xl font-bold uppercase tracking-tighter text-accent-red md:mt-0 md:text-6xl lg:text-7xl xl:ml-16 xl:text-8xl"
    >
      Kill
    </h2>

    <div
      #targetCenterText
      class="absolute bottom-8 left-8 z-20 hidden xl:block select-none"
    >
      <p
        class="text-[0.72rem] font-black leading-relaxed tracking-[0.08rem] text-neutral-500 font-mono text-left normal-case"
      >
        <span
          class="inline-block shrink-0 rounded-[1px] bg-[#333] align-middle mr-1 w-1 h-1"
        ></span>

        <span class="font-black uppercase tracking-[0.22em] text-[#333] font-mono">About</span>
        <span class="opacity-0">------------------</span>

        Traditional e-commerce is dead quiet. We turned it into a live arena. Broadcast your build
        process, drop rare assets in real time and build a trusted audience around your brand.
      </p>
    </div>
  </section>

  <!-- ================= CENTER ================= -->

  <section
    #centerColumn
    class="relative flex items-center justify-center overflow-hidden border-neutral-300 bg-white xl:border"
  >
    <video
      #targetCenterVideo
      autoplay
      [muted]="true"
      loop
      playsinline
      class="h-50 md:h-60 w-full object-cover z-100 border border-x-0 border-neutral-300 hidden xl:block"
    >
      <source src="home/home-intro.webm" type="video/mp4" />
    </video>
    <p
      class="text-[0.72rem] font-medium leading-relaxed tracking-[0.16rem] text-neutral-500 font-sans text-left normal-case xl:hidden px-5"
    >
      <span
        class="inline-block shrink-0 rounded-[1px] bg-[#333] align-middle w-1 h-1 mr-1"
      ></span>

      <span class="font-black uppercase tracking-[0.22em] text-[#333] font-mono">About</span>
      <span class="opacity-0">------------------</span>

      Traditional e-commerce is dead quiet. We turned it into a live arena. Broadcast your build
      process, drop rare assets in real time and build a trusted audience around your brand.
    </p>
  </section>

  <!-- ================= RIGHT ================= -->

  <section
    #rightColumn
    class="relative flex flex-col items-center justify-center overflow-visible bg-white p-6 text-white lg:border-b md:border-neutral-300 xl:justify-end"
  >
    <div
      class="pointer-events-none absolute top-1/2 left-1/2 z-0 hidden h-px w-full -translate-x-1/2 -translate-y-1/2 bg-neutral-300 xl:block"
    ></div>

    <h2
      class="text-center font-OpenSans text-4xl font-bold uppercase tracking-[0.1rem] text-[#333] lg:text-5xl xl:text-left xl:text-6xl"
    >
      The
      <br class="hidden xl:block" />
      Standard Storefront
    </h2>

    <app-orbital-button
      text="About"
      class="z-10 mt-10 xl:order-first xl:mt-0 xl:mb-22 xl:ml-12"
    ></app-orbital-button>
  </section>
</main>
