.first .step-bg {
  background-image: url('https://images.unsplash.com/vector-1761233874559-b370fb2bd08b?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.second .step-bg {
  background-image: url('https://images.unsplash.com/vector-1757394158143-e5f18aa61cf8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.third .step-bg {
  background-image: url('https://images.unsplash.com/vector-1780582579260-7ec2fa99d5c1?q=80&w=1025&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
/* .hide-bottom-right-square {
  clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 35% 35%, 35% 100%, 0% 100%);
} */
.hide-bottom-right-square {
  clip-path: polygon(
    0% 0%,
    /* Top-Left */ 100% 0%,
    /* Top-Right */ 100% 40%,
    /* Mid-Right edge */ 40% 40%,
    /* Inner Corner intersection point (Perfect Square anchor) */ 40% 100%,
    /* Mid-Bottom edge */ 0% 100% /* Bottom-Left */
  );
}
.hide-top-left-square {
  clip-path: polygon(
    100% 100%,
    /* Bottom-Right */ 0% 100%,
    /* Bottom-Left */ 0% 60%,
    /* Mid-Left edge -> Perfectly matches the level of the left image's cut! */ 60% 60%,
    /* Inner Corner Anchor */ 60% 0%,
    /* Mid-Top edge */ 100% 0% /* Top-Right */
  );
}
.hide-bottom-left-square {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 40%, 0 40%);
}
.hide-top-right-square {
  clip-path: polygon(0 0, 40% 0, 40% 60%, 100% 60%, 100% 100%, 0 100%);
}
.step-label div {
    backface-visibility: hidden;
}
.step-label, .counter-label, .desc-label {
  transform-style: preserve-3d;
}
/* This is the secret property from the CodePen that makes characters hide when flipped away */
.char {
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.desc-line {
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}
.step-outer, .step-inner {
  overflow: hidden !important;
}