.first .step-bg {
  background-image: url('https://images.unsplash.com/vector-1761233874559-b370fb2bd08b?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.second .step-bg {
  background-image: url('https://images.unsplash.com/vector-1757394158143-e5f18aa61cf8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.third .step-bg {
  background-image: url('https://images.unsplash.com/vector-1780582579260-7ec2fa99d5c1?q=80&w=1025&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.step-bg {
  image-rendering: -webkit-optimize-contrast;
}
.step-outer,
.step-inner,
.step-bg {
  /* Forces GPU layer composition */
  transform: translate3d(0, 0, 0);
  will-change: transform, clip-path;
  
  /* Disables subpixel anti-aliasing artifacts on clips */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media (max-width: 768px) {
  .hide-bottom-right-square-mobile {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 40%, 40% 40%, 40% 100%, 0% 100%
    );
  }
  
  .hide-top-left-square-mobile {
    clip-path: polygon(
      100% 100%, 0% 100%, 0% 60%, 60% 60%, 60% 0%, 100% 0%
    );
  }
}
.hide-bottom-left-square {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 40%, 0 40%);
}
.hide-top-right-square {
  clip-path: polygon(0 0, 40% 0, 40% 60%, 100% 60%, 100% 100%, 0 100%);
}
.step-label div {
    backface-visibility: hidden;
}
.step-label, .counter-label, .desc-label {
  transform-style: preserve-3d;
}
/* This is the secret property from the CodePen that makes characters hide when flipped away */
.char {
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.desc-line {
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}
.step-outer, .step-inner {
  overflow: hidden !important;
}