<div class="absolute top-0 left-0 w-full h-full -z-10 overflow-hidden pointer-events-none">
  <canvas #threeCanvas class="w-full h-full block"></canvas>
</div>
<app-pixi-web [squareSize]="100" [thickness]="1.5" class="-z-10 pointer-events-none"></app-pixi-web>
<main class="relative bg-transparent w-full h-screen overflow-hidden">
  <!-- Typography -->
  <section class="absolute flex flex-col bottom-[3%] left-1/2 -translate-x-1/2 w-full">
    <!-- Sub Header -->
    <div
      class="px-6 md:px-16 flex flex-col lg:flex-row justify-between items-center xl:items-end w-full mb-6 lg:mb-12"
    >
      <p
        #targetParagraph
        [ngClass]="`
          max-w-full md:max-w-100  xl:max-w-120 text-center md:text-left normal-case 
          font-normal tracking-normal text-stone-800
          text-[1rem] lg:text-[1.25rem] leading-snug my-4 lg:my-0
        `"
      >
        <span
          class="paragraph-square inline-block w-[0.55em] h-[0.55em] bg-stone-900 mr-2 mb-0.5 shrink-0"
        ></span>

        <span>
          A curated ecosystem bridging elite commerce with a real-time social network. Launch your
          storefront, broadcast your process, and own your audience.
        </span>
      </p>

      <button
        #targetBtn
        [ngClass]="`
          px-6 py-3 md:px-8 md:py-4 rounded-full border border-stone-700
          bg-stone-900 hover:bg-stone-100 text-stone-100 hover:text-stone-950
          text-xs lg:text-sm tracking-widest font-medium uppercase
           pointer-events-auto
        `"
      >
        Get Started
      </button>
    </div>
    <!-- Header -->
    <h1
      #mainHeroStructure
      [ngClass]="'order-first lg:order-last py-2 px-6 md:px-16 text-4xl md:text-5xl lg:text-7xl xl:text-[6.75rem] 
    font-bold leading-none uppercase tracking-tighter'"
    >
      <div #targetHeading class="flex justify-between items-center w-full">
        <span>Turn Your</span>
        <span>Products</span>
      </div>

      <div #targetSubtitle class="text-center w-full mt-2 md:mt-4 text-[3.5xl] xl:text-[5.5rem]">
        <span>
          Into a
          <span class="text-accent-red">Trusted</span>
          Business
        </span>
      </div>
    </h1>
  </section>
</main>
